@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body{
  font-family: 'Ubuntu Condensed';
  display: none;
  margin: 0;
  position: relative;
}

.navbar{
  background: rgba(0,0,0, .2);
  width: 30vw;
  position: absolute;
  left: 0;
  top: 2vh;
  bottom: 2vh;
  color: rgba(255,255,255,.9);
  display: none;
  /*text-align: center;*/
  line-height: 50px;
  /*transition: width .1 ease;*/
}
.navbar > ul{
  position: absolute;
  display: block;
  transition: display .2s ease;
  top: 25%;
}
.navbar > ul li{
  list-style-type: none;
}
#namu{
  position: absolute;
  top: 1.5%;
  left: 41%;
  font-size: calc(10% + 2.5vw);
  transition: top .6s ease, left .6s ease, right .6s ease;
}
#prof{
  position: absolute;
  top: 5.5%;
  left: 41%;
  font-size: calc(10% + 2vw);
  transition: opacity 2s ease;
}
.ppic{
  position: absolute;
  height: 8vw;
  width: 8vw;
  border-radius: 100%;
  object-fit: cover;
  top: 5%;
  left: 3vw;
  min-width: 50px;
  min-height: 50px;
  transition: top .1s ease, left .2s ease, border .6s ease;
}
.jumbo {
  background: url(../images/giraf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //height: 90vh;
  height: 100vh;
  width: 100%;
  //margin-top: 2vh;
}
.content {
  display: none;
  color: rgba(255,255,255,.9);
  position: absolute;
  top: 2vh;
  left: 30%;
  right: 2%;
  bottom: 2vh;
  border-radius: 0 5px 5px 0;
  background: rgba(0,0,0,.6);
  padding: 5% 5%;
  overflow: hidden;
  transition: padding-top .2s ease, background-color .2s ease, left .2s ease, right .2s ease, top .2s ease;
}
.content > div{
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-left: 2%;
  padding-right: 20%;
}
.content p{
  font-size: calc(50% + .5vw);
  text-align: justify;
}
.content p:nth-of-type(odd) {
  color: palegoldenrod;
  /*font-size: calc(50% + 1vw);*/
}
.content-text{
  height: 100px;
}
a{
  color: white;
  list-style: none;
  transition: font-size .1s ease;
}
a:link{
  font-weight: bolder;
  text-decoration: none;
}
a:visited{
}
a:hover{
  font-size: xx-large;
}
a:active{
  font-size: x-large;
}
@media (max-width: 700px) {
  .navbar{
    width: 100vw;
    /*transition: width .1 ease;*/
  }
  .content{
    padding-top: 5%;
    top: 15%;
    left: 10%;
    right: 10%;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: left .2s ease, background-color .1s ease, top .2s ease;
  }
  .navbar > ul{
    display: none;
    transition: display .2s ease;
  }
  .ppic{
    top: 9%;
    left: 45%;
    min-width: 45px;
    min-height: 45px;
    z-index: 1;
    border: solid rgba(0,0,0,.5) 5px;
    transition: top .2s ease, left .2s ease, border .6s ease;
  }
  .content p{
    text-align: left;
  }
  #namu{
    left: 15%;
    top: 0;
    font-size: calc(30% + 2.5vw);
    transition: top .2s ease, left .2s ease;
  }
  #prof{
    opacity: 0;
    transition: opacity .2s ease;
  }
}
/*.jumbo{
  background: url(../images/bird_back.jpg);
  background-size: cover;
  height: 80vh;
  width: 80vw;
  margin: auto;
}*/
